* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #5f615e;
  font-family: "Oxygen", sans-serif;
}

@media (max-width: 480px) {
  .hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1761380201771-d4932e33d08b?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEyfHRvd0paRnNrcEdnfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&q=60&w=900);
    background-size: cover;
    background-position: center;
  }
  .hero .main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #3A0519;
  }
  .hero .main .nav-div {
    width: 100%;
    opacity: 0.4;
    background: white;
    display: flex;
    justify-content: space-around;
    height: 3rem;
    align-items: center;
  }
  .hero .main .portfolio-heading {
    color: transparent;
    position: absolute;
    font-size: 4.2rem;
    -webkit-text-stroke: 3px rgb(255, 255, 255);
    font-weight: 900;
    margin-top: 7rem;
    opacity: 0.35;
    letter-spacing: -6px;
  }
  .hero .main .top-div {
    height: 13rem;
    width: 80%;
    border: #FFE8DB 3px inset;
    box-shadow: 2px 2px 10px #e2d7d7;
    border-radius: 50% 0 50% 0;
    margin-top: 10rem;
  }
  .hero .main .centre-circle {
    margin-top: 7rem;
    padding: 4rem;
    position: absolute;
  }
  .hero .main .centre-circle .circle {
    width: 250px;
    height: 250px;
    background-image: url(./images/IMG_0135.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 50% 0 50%;
    border: #bac2b4 5px inset;
    box-shadow: 2px 2px 10px #e2d7d7;
  }
  .hero .main .profession-heading {
    color: transparent;
    position: absolute;
    font-size: 4rem;
    -webkit-text-stroke: 3px rgb(255, 255, 255);
    font-weight: 900;
    margin-top: 29rem;
    opacity: 0.65;
    letter-spacing: -3px;
  }
  .hero .main button {
    background-color: #3A0519;
    margin-top: 10rem;
    color: #f1eac1;
    height: 3rem;
    width: 7rem;
    border-radius: 2rem;
    border: #8d7f85 1px solid;
  }
  .about-me {
    width: 100%;
    height: 100%;
    padding: 1rem 1.2rem 1rem 1.2rem;
    background-color: #eae4dd;
  }
  .about-me .frame {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: #000000 4px solid;
    display: flex;
    flex-direction: column;
  }
  .about-me .frame .boxes {
    width: 100%;
    height: 40%;
    position: relative;
    display: flex;
    position: relative;
  }
  .about-me .frame .boxes svg {
    margin-top: 2rem;
    transform: rotate(90deg);
    height: 8rem;
    width: 30%;
    opacity: 0.5;
  }
  .about-me .frame .boxes .box1 {
    background-color: #670D2F;
    height: 15rem;
    width: 15rem;
    margin-left: 1rem;
    border-radius: 0 0 0 50%;
  }
  .about-me .frame .boxes .box2 {
    background-image: url(./images/IMG_0135.jpg);
    border-radius: 50% 50% 0 0;
    border: #3A0519 5px inset;
    box-shadow: 10px 10px 15px #18230F;
    height: 15rem;
    width: 70%;
    margin-left: 5rem;
    margin-right: 6rem;
    margin-top: 2rem;
    position: absolute;
    background-size: cover;
    background-position: center;
  }
  .about-me .about-text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .about-me .about-text .greeting-text {
    align-self: flex-end;
    font-size: 3rem;
    opacity: 0.5;
    font-weight: 500;
    color: #3A0519;
  }
  .about-me .about-text .content-text {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #3A0519;
    font-weight: 300;
    text-align: right;
  }
  .about-me .about-text .content-text .name {
    font-weight: 600;
    color: #670D2F;
  }
  .about-me .about-text .content-text .para-1 {
    line-height: 2rem;
  }
  .about-me .about-text .content-text .para-2 {
    line-height: 2.4rem;
  }
}/*# sourceMappingURL=style.css.map */